extends layout

block content
	h1= "Editar " + beaconInfo.name
	form(name="newBeacon", action="/beacons/editBeacon/" + region.name + '/' + region._id + '/' + beaconInfo._id, method="post", enctype="multipart/form-data")
		p
		| Nombre
		br
		input(type="text", name="name", value = beaconInfo.name) 
		p
		| Major
		br
		input(type="text", name="major", value = beaconInfo.major)
		p
		| Minor
		br
		input(type="text", name="minor", value = beaconInfo.minor)
		p
		| Titulo de alerta
		br
		input(type="text", name="alertTitle", value = beaconInfo.alertTitle)
		p
		| Texto de alerta
		br
		textarea(type="textarea", name="alertMessage", , rows = "10", columns = "50")
			|#{beaconInfo.alertMessage}
		br
		#descriptions
			each description, i in beaconDetail.descriptions
				#description
				p
				| Titulo descripción #{i + 1}
				br
				input(type="text", name="titleDescription", value = beaconDetail.descriptionTitles[i])
				p
				| Descripción #{i + 1}
				br
				textarea(type="textarea", name="description", rows = "10", columns = "50")
					|#{description}
			else
				#description1
				p
				| Titulo descripción 1
				br
				input(type="text", name="titleDescription")
				p
				| Descripción 1
				br
				textarea(type="textarea", name="description", rows = "10", columns = "50")
		input(type="button", value="Agregar" onclick = "addInput(descriptions)")
		p
		| Imagen (414 x 243):
		br
		img(src= "/public/images/" + region.name + "/beaconsImages/" + beaconDetail.image, width = 414, height = 243)
		br
		input(type="file", name="image")
		br
		p
		| Icono (414 x 180):
		br
		img(src= "/public/images/" + region.name + "/beaconsImages/" + beaconInfo.icon, width = 414, height = 180)
		br
		input(type="file", name="icon")
		br
		br
		input(type="submit", value="Agregar")
		input(type="button", value="Cancelar", onclick = "move()")
	script.
		function move() {
			var region = !{JSON.stringify(region)}
			window.location.href = '/editRegion/' + region._id + "/"
		}
		var beaconDetail = !{JSON.stringify(beaconDetail)}
		if (beaconDetail.descriptions.length == 0){
			var counter = 1
		}else{
			var counter = beaconDetail.descriptions.length 
		}
		var limit = 6
		function addInput(div){
			if (counter == limit)  {
				alert("Sólo se pueden 6 descripciones.")
			}
			else {
				counter++
				var newdiv = document.createElement('description' + counter)
				newdiv.innerHTML = '<p></p>Titulo descripción ' + counter + '<br><input type="text" name="titleDescription"><br><p></p>Descripción ' + counter + '<br><textarea type="textarea" name="description" rows="10" columns="50"></textarea>'
				div.appendChild(newdiv)
			}
		}