extends layout

block content
	h1= "Editar " + region.name
	form(name="newRegion", action="/regions/editRegion/" + region._id, method="post", enctype="multipart/form-data")
		p
		| Nombre
		br
		input(type="text", name="name", value = region.name) 
		p
		| Descripción
		br
		textarea(type="textarea", name="description", rows = "10", columns = "50")
			|#{region.description}
		p
		| UUID
		br
		input(type="text", name="UUID", value = region.UUID)
		br
		p
		| Imagen (414 x 194):
		br
		img(src= "/public/images/" + region.name + "/" + region.image, width = 414, height = 194)
		br
		input(type="file", name="Image")
		br
		h3= "Beacons"
		table
			each beacon, i in beacons
				tr
					td 
						a(href="/editRegion/" + region._id + "/editBeacon/" + beacon._id) Editar 
					td 
						input(type="button", value="Eliminar", onclick = "alertDelete(" + i + ")") 
					td= beacon.name
			else
				p
				| No se encontraron beacons.
		br
		a(href="/editRegion/" + region._id + "/addNewBeacon") Agregar nuevo
		br
		br
		input(type="submit", value="Guardar")
		input(type="button", value="Cancelar", onclick = "goBack()")
	script.
		function goBack() {
			window.location.href = '/'
		}
		function alertDelete(id){
		var answer = confirm ("¿Estás seguro que quieres eliminar este Beacon?")
		if (answer)
			var region = !{JSON.stringify(region)}
			var beacons = !{JSON.stringify(beacons)}
			var beacon = beacons[id]
			window.location="/beacons/deleteBeacon/" + region._id + '/' + region.name + '/' + beacon._id;
		}	