extends layout

block content
	h1= title
	p Bienvenido a #{title}

	a(href="/newregion") Agregar

	each region,i in regions
		h3= region.name
		a(href="/editRegion/" + region._id) Editar 
		input(type="button", value="Eliminar", onclick = "alertDelete(" + i + ")") 
	else
		h3= "No se encontraron regiones."
	script.
		function alertDelete(id){
		var answer = confirm ("¿Estás seguro que quieres eliminar este Beacon?")
		if (answer)
			var regions = !{JSON.stringify(regions)}
			var region = regions[id]
			window.location="/regions/deleteRegion/" + region._id 
		}