extends layout

block content
	h1= "Agregar nuevo beacon"
	form(name="newBeacon", action="/beacons/addBeacon/" + region.name + '/' + region._id, method="post", enctype="multipart/form-data")
		p
		| Nombre
		br
		input(type="text", name="name") 
		p
		| Major
		br
		input(type="text", name="major")
		p
		| Minor
		br
		input(type="text", name="minor")
		p
		| Titulo de alerta
		br
		input(type="text", name="alertTitle")
		p
		| Texto de alerta
		br
		textarea(type="textarea", name="alertMessage", , rows = "10", columns = "50")
		br
		#descriptions
			#description1
				p
				| Titulo descripción 1
				br
				input(type="text", name="titleDescription")
				p
				| Descripción 1
				br
				textarea(type="textarea", name="description", rows = "10", columns = "50")
		input(type="button", value="Agregar" onclick = "addInput(descriptions)")
		p
		| Imagen (414 x 243):
		input(type="file", name="image")
		br
		p
		| Icono (414 x 180):
		input(type="file", name="icon")
		br
		br
		input(type="submit", value="Agregar")
		input(type="button", value="Cancelar", onclick = "move()")
	script.
		function move() {
			var region = !{JSON.stringify(region)}
			window.location.href = '/editRegion/' + region._id + "/"
		}
		var counter = 1
		var limit = 6
		function addInput(div){
			if (counter == limit)  {
				alert("Sólo se pueden 6 descripciones.")
			}
			else {
				counter++
				var newdiv = document.createElement('description' + counter)
				newdiv.innerHTML = '<p></p>Titulo descripción ' + counter + '<br><input type="text" name="titleDescription"><br><p></p>Descripción ' + counter + '<br><textarea type="textarea" name="description" rows="10" columns="50"></textarea>'
				div.appendChild(newdiv)
			}
		}