extends layout

block content
	h1= "Agregar nueva región"
	form(name="newRegion", action="/regions/addRegion", method="post", enctype="multipart/form-data")
		p
		| Nombre
		br
		input(type="text", name="name") 
		p
		| Descripción
		br
		textarea(type="textarea", name="description", rows = "10", columns = "50")
		p
		| UUID
		br
		input(type="text", name="UUID")
		br
		p
		| Imagen (414 x 194):
		input(type="file", name="Image")
		br
		br
		input(type="submit", value="Agregar")
		input(type="button", value="Cancelar" onclick = "move()")
	script.
		function move() {
			window.location.href = '/'
		}	